body {
    background: url(/images/board_font.png) no-repeat center center fixed;
    background-size: 100% 100%; /* Параметры фона */
    /*margin: 0; !* Убираем отступы *!*/
    /*height: 100%; !* Высота страницы *!*/
}
h1 {
    line-height: 1.1;
    color: white;
    text-align: center;
    margin-top: 400px;
    font-style: oblique;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 600;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    margin-left: 100px;
    margin-right: 100px;
}
.picture-container {
    margin-top: 45%;
}
.main-text-picture {
    line-height: 1.1;
    color: white;
    text-align: center;
    font-style: oblique;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 600;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    margin: 0 auto;
    position: relative;
}
.form-container {
    height: 500px;
}
.form-calculation {
    width: 900px;
    height: 100px; /* если высота не будет задана явна, она будет равна 100% */
    margin: 0 auto;
}
.form-expression {
    margin-top: 20px;
    color: white;
    font-style: oblique;
    font-family: Verdana, Geneva, sans-serif;
    margin-bottom: 10px;
    text-align: center;
}
#expression {
    width: 400px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    color: white;
    font-size: 1.3em;
}
#result {
    width: 550px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    color: white;
    font-size: 1.3em;
}
.form-result {
    color: white;
    font-style: oblique;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}
.error-text {
    margin-top: 20px;
    margin-left: 23%;
    margin-right: 20%;
    text-align: start;
}
::placeholder {
    color: white;
}
